* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.main {
  background-color: #e7e7e7;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
}

.input__span {
  background-color: #e7e7e7;
}

.test {
  color: red;
}